In [19]:
import pandas as pd

In [20]:
pd.__version__

'2.3.1'

In [35]:
df = pd.read_csv('yellow-tripdata-2025-01.csv', nrows=100)

In [38]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [45]:
from sqlalchemy import create_engine

In [46]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [47]:
engine.connect()

In [48]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge BIGINT,
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee BIGINT
)

In [50]:
df_iter = pd.read_csv('yellow-tripdata-2025-01.csv', iterator=True, chunksize=100000)

In [52]:
df = next(df_iter)

In [55]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [56]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [57]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 3.77 s
Wall time: 10.6 s

1000

In [58]:
while True:
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

C:\Users\NickR\AppData\Local\Temp\ipykernel_25272\2762476318.py:2: DtypeWarning: Columns (3,5,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type bigint: "\N"
LINE 1: ...04'::timestamp, '2025-01-17T18:19:55'::timestamp, '\N', 0.0,...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 503700 characters truncated ... tal_amount__999)s, %(congestion_surcharge__999)s, %(Airport_fee__999)s, %(cbd_congestion_fee__999)s)]
[parameters: {'congestion_surcharge__0': '2.5', 'DOLocationID__0': 100, 'index__0': 2751000, 'tolls_amount__0': 0.0, 'improvement_surcharge__0': 1.0, 'total_amount__0': 21.9, 'extra__0': 3.25, 'store_and_fwd_flag__0': 'N', 'tpep_dropoff_datetime__0': datetime.datetime(2025, 1, 30, 12, 24, 18), 'passenger_count__0': '1', 'RatecodeID__0': '1', 'trip_distance__0': 1.1, 'tpep_pickup_datetime__0': datetime.datetime(2025, 1, 30, 12, 9, 45), 'fare_amount__0': 13.5, 'cbd_congestion_fee__0': 0.75, 'VendorID__0': 1, 'PULocationID__0': 246, 'payment_type__0': 1, 'tip_amount__0': 3.65, 'Airport_fee__0': '0', 'mta_tax__0': 0.5, 'congestion_surcharge__1': '2.5', 'DOLocationID__1': 234, 'index__1': 2751001, 'tolls_amount__1': 0.0, 'improvement_surcharge__1': 1.0, 'total_amount__1': 31.15, 'extra__1': 3.25, 'store_and_fwd_flag__1': 'N', 'tpep_dropoff_datetime__1': datetime.datetime(2025, 1, 30, 12, 30, 2), 'passenger_count__1': '1', 'RatecodeID__1': '1', 'trip_distance__1': 4.1, 'tpep_pickup_datetime__1': datetime.datetime(2025, 1, 30, 12, 5, 37), 'fare_amount__1': 21.2, 'cbd_congestion_fee__1': 0.75, 'VendorID__1': 1, 'PULocationID__1': 143, 'payment_type__1': 1, 'tip_amount__1': 5.2, 'Airport_fee__1': '0', 'mta_tax__1': 0.5, 'congestion_surcharge__2': '2.5', 'DOLocationID__2': 237, 'index__2': 2751002, 'tolls_amount__2': 0.0, 'improvement_surcharge__2': 1.0, 'total_amount__2': 15.0, 'extra__2': 2.5, 'store_and_fwd_flag__2': 'N' ... 20900 parameters truncated ... 'fare_amount__997': 22.91, 'cbd_congestion_fee__997': 0.0, 'VendorID__997': 1, 'PULocationID__997': 141, 'payment_type__997': 0, 'tip_amount__997': 0.0, 'Airport_fee__997': '\\N', 'mta_tax__997': 0.5, 'congestion_surcharge__998': '\\N', 'DOLocationID__998': 229, 'index__998': 2751998, 'tolls_amount__998': 0.0, 'improvement_surcharge__998': 1.0, 'total_amount__998': 23.44, 'extra__998': 0.0, 'store_and_fwd_flag__998': '\\N', 'tpep_dropoff_datetime__998': datetime.datetime(2025, 1, 17, 19, 58, 21), 'passenger_count__998': '\\N', 'RatecodeID__998': '\\N', 'trip_distance__998': 0.01, 'tpep_pickup_datetime__998': datetime.datetime(2025, 1, 17, 19, 48, 27), 'fare_amount__998': 14.78, 'cbd_congestion_fee__998': 0.75, 'VendorID__998': 2, 'PULocationID__998': 163, 'payment_type__998': 0, 'tip_amount__998': 3.91, 'Airport_fee__998': '\\N', 'mta_tax__998': 0.5, 'congestion_surcharge__999': '\\N', 'DOLocationID__999': 161, 'index__999': 2751999, 'tolls_amount__999': 0.0, 'improvement_surcharge__999': 1.0, 'total_amount__999': 3.0, 'extra__999': 0.0, 'store_and_fwd_flag__999': '\\N', 'tpep_dropoff_datetime__999': datetime.datetime(2025, 1, 17, 19, 40, 7), 'passenger_count__999': '\\N', 'RatecodeID__999': '\\N', 'trip_distance__999': 0.0, 'tpep_pickup_datetime__999': datetime.datetime(2025, 1, 17, 19, 33, 40), 'fare_amount__999': -4.75, 'cbd_congestion_fee__999': 0.75, 'VendorID__999': 2, 'PULocationID__999': 161, 'payment_type__999': 0, 'tip_amount__999': 0.0, 'Airport_fee__999': '\\N', 'mta_tax__999': 0.5}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)